<a href="https://colab.research.google.com/github/yashshroff99/College-Projects/blob/main/ABC_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import datetime
from datetime import datetime, date
from datetime import timedelta
from time import time
from joblib import Parallel
from joblib import delayed
from warnings import catch_warnings
from warnings import filterwarnings

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Reading Inventory transactions data

In [ ]:
versa_sales = pd.read_csv('/content/drive/MyDrive/ABC_analysis/data_abc.csv')
versa_sales

                               name  ...       currencies_name
0                       R71329 SR 7  ...  United States dollar
1                       R71329 SR 7  ...  United States dollar
2                       R71329 SR 7  ...  United States dollar
3                       R71329 SR 7  ...  United States dollar
4                       R71391 SR 8  ...  United States dollar
...                             ...  ...                   ...
1796716                         NaN  ...       Canadian dollar
1796717                         NaN  ...       Canadian dollar
1796718                         NaN  ...  United States dollar
1796719  Bibs pacifier PEACH Size 2  ...       Canadian dollar
1796720  Bibs pacifier PEACH Size 2  ...       Canadian dollar

[1796721 rows x 9 columns]

In [ ]:
versa_sales['transaction_date']=  pd.to_datetime(versa_sales['transaction_date'], errors = 'coerce')
versa_sales.head()

          name  part_number  ...  currency_id       currencies_name
0  R71329 SR 7  R71329 SR 7  ...            2  United States dollar
1  R71329 SR 7  R71329 SR 7  ...            2  United States dollar
2  R71329 SR 7  R71329 SR 7  ...            2  United States dollar
3  R71329 SR 7  R71329 SR 7  ...            2  United States dollar
4  R71391 SR 8  R71391 SR 8  ...            2  United States dollar

[5 rows x 9 columns]

In [ ]:
versa_sales_568 = versa_sales[(versa_sales["firm_id"]==568) & (versa_sales["delta"]<0)]
versa_sales_568

        name   part_number  ...  currency_id       currencies_name
309      NaN  COTTAYBEI360  ...            2  United States dollar
310      NaN  COTTAYBEI360  ...            2  United States dollar
311      NaN  COTTAYBEI360  ...            2  United States dollar
312      NaN  COTTAYBEI360  ...            2  United States dollar
313      NaN  COTTAYBEI500  ...            2  United States dollar
...      ...           ...  ...          ...                   ...
1796609  NaN  COTPERSLT340  ...            2  United States dollar
1796663  NaN  LINCAMLIL300  ...            3         European Euro
1796664  NaN  LINCAMLIL300  ...            2  United States dollar
1796665  NaN  LINCAMLIL300  ...            2  United States dollar
1796666  NaN  LINCAMLIL300  ...            2  United States dollar

[201454 rows x 9 columns]

In [ ]:
versa_sales_568.describe()

               price             id   firm_id          delta    currency_id
count  201454.000000  201454.000000  201454.0  201454.000000  201454.000000
mean      118.381073  277448.138662     568.0      -1.733741       2.070061
std       123.206278  136139.095416       0.0       3.870100       0.255250
min         0.000000  153724.000000     568.0    -569.000000       2.000000
25%        40.000000  157822.000000     568.0      -2.000000       2.000000
50%        85.000000  182552.000000     568.0      -1.000000       2.000000
75%       150.000000  383521.000000     568.0      -1.000000       2.000000
max      4100.000000  544135.000000     568.0      -1.000000       3.000000

In [ ]:
versa_sales_568["delta"] = versa_sales_568["delta"].abs()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
versa_sales_568 = versa_sales_568.drop(['firm_id'], axis=1)

In [ ]:
versa_sales_568['transaction_date'] = versa_sales_568.transaction_date.dt.to_period("M")

In [ ]:
versa_sales_568 = versa_sales_568.groupby(['id', 'part_number', 'price', 'currency_id','transaction_date' ], as_index=False).sum()

In [ ]:
versa_sales_568.delta.value_counts()

1.0      88319
2.0      34315
3.0      10781
4.0       6962
5.0       3181
         ...
78.0         1
64.0         1
92.0         1
184.0        1
74.0         1
Name: delta, Length: 83, dtype: int64

#Obsolete items
Next step is to remove **obsolete items** first
Look at all items that have been in the system for 24 months or more, and then mark what we haven't sold any in those 24 months as obsolete.

In [ ]:
today = pd.to_datetime("today")
obsolete_time = (today - pd.DateOffset(years=2)).to_period("M")

In [ ]:
obsolete_items = versa_sales_568[versa_sales_568['transaction_date']<obsolete_time]
versa_sales_568 = versa_sales_568[versa_sales_568['transaction_date']>obsolete_time]

In [ ]:
obsolete_items

            id     part_number  price  currency_id transaction_date  delta
0       153724  AAALPALIEBNONE   49.0            2          2019-01    1.0
3       153724  AAALPALIEBNONE  100.0            2          2019-01    1.0
6       153724  AAALPALIEBNONE  160.0            2          2019-01    1.0
9       153724  AAALPALIEBNONE  200.0            2          2019-01    1.0
12      153725  AAALPALIEBNONE   49.0            2          2017-03    1.0
...        ...             ...    ...          ...              ...    ...
118778  423902    COTINDMIX090  165.0            2          2019-02    1.0
118779  423903    COTINDMIX300   47.9            2          2019-02    1.0
118780  423903    COTINDMIX300  130.0            2          2019-02    1.0
118781  423903    COTINDMIX300  232.0            2          2019-02    1.0
118782  423903    COTINDMIX300  290.0            2          2019-02    1.0

[96768 rows x 6 columns]

#Non-stocked items
Remove **Non-stocked** items Look at all items that have been in the system for 12 months or more that weâ€™ve only only sold them in 3 or less of those months as non-stocked.

In [ ]:
versa_sales_568[(versa_sales_568['transaction_date'] < (today - pd.DateOffset(years=1)).to_period("M"))]

            id     part_number   price  currency_id transaction_date  delta
1       153724  AAALPALIEBNONE   49.00            2          2019-10    1.0
2       153724  AAALPALIEBNONE   49.00            2          2020-01    1.0
4       153724  AAALPALIEBNONE  100.00            2          2019-10    1.0
5       153724  AAALPALIEBNONE  100.00            2          2020-01    1.0
7       153724  AAALPALIEBNONE  160.00            2          2019-10    1.0
...        ...             ...     ...          ...              ...    ...
145775  510832    COTPERPOR400  275.00            2          2020-02    1.0
146354  513439  AALINJUNBLKMED   30.15            3          2020-02    1.0
146355  513439  AALINJUNBLKMED   65.00            2          2020-02    1.0
146356  513439  AALINJUNBLKMED   88.00            2          2020-02    1.0
146357  513439  AALINJUNBLKMED  110.00            2          2020-02    1.0

[35435 rows x 6 columns]

In [ ]:
versa_sales_568['id'].count()

51393

In [ ]:
from google.cloud import bigquery

In [ ]:
(versa_sales_568.groupby(versa_sales_568['id']).sum().delta > 3)

id
153724    True
153739    True
153750    True
153753    True
153760    True
          ...
544131    True
544132    True
544133    True
544134    True
544135    True
Name: delta, Length: 9648, dtype: bool

In [ ]:
versa_sales_568 = versa_sales_568[versa_sales_568['transaction_date']>'2019-01-01']
versa_sales_568

            id     part_number  price  currency_id transaction_date  delta
1       153724  AAALPALIEBNONE   49.0            2          2019-10    1.0
2       153724  AAALPALIEBNONE   49.0            2          2020-01    1.0
4       153724  AAALPALIEBNONE  100.0            2          2019-10    1.0
5       153724  AAALPALIEBNONE  100.0            2          2020-01    1.0
7       153724  AAALPALIEBNONE  160.0            2          2019-10    1.0
...        ...             ...    ...          ...              ...    ...
153458  544134    ALPLIAPOP800  175.0            2          2020-08    2.0
153459  544135    ALPCOLCHR800   20.5            2          2020-08    1.0
153460  544135    ALPCOLCHR800   78.0            2          2020-08    1.0
153461  544135    ALPCOLCHR800  140.0            2          2020-08    1.0
153462  544135    ALPCOLCHR800  175.0            2          2020-08    1.0

[59475 rows x 6 columns]

#ABC analysis
For an effective ABC analysis, you have to take two things into account:

1.   The cost of the item
2.   How fast the item moves

In [ ]:
versa_sales_568

            id     part_number  price  currency_id transaction_date  delta
1       153724  AAALPALIEBNONE   49.0            2          2019-10    1.0
2       153724  AAALPALIEBNONE   49.0            2          2020-01    1.0
4       153724  AAALPALIEBNONE  100.0            2          2019-10    1.0
5       153724  AAALPALIEBNONE  100.0            2          2020-01    1.0
7       153724  AAALPALIEBNONE  160.0            2          2019-10    1.0
...        ...             ...    ...          ...              ...    ...
153458  544134    ALPLIAPOP800  175.0            2          2020-08    2.0
153459  544135    ALPCOLCHR800   20.5            2          2020-08    1.0
153460  544135    ALPCOLCHR800   78.0            2          2020-08    1.0
153461  544135    ALPCOLCHR800  140.0            2          2020-08    1.0
153462  544135    ALPCOLCHR800  175.0            2          2020-08    1.0

[51393 rows x 6 columns]

In [ ]:
if (versa_sales_568['currency_id']==2).any():
    versa_sales_568['revenue'] = versa_sales_568.price * versa_sales_568.delta
elif (versa_sales_568['currency_id']==3).any():
     versa_sales_568['revenue'] = versa_sales_568.price * versa_sales_568.delta * 1.41

In [ ]:
    versa_sales_568['revenue'] = versa_sales_568.price * versa_sales_568.delta

In [ ]:
if (versa_sales_568['currency_id']==3).any():
    print(high)

KeyError: ignored

In [ ]:
versa_sales_568

            id     part_number  price  ...  transaction_date delta  revenue
1       153724  AAALPALIEBNONE   49.0  ...           2019-10   1.0     49.0
2       153724  AAALPALIEBNONE   49.0  ...           2020-01   1.0     49.0
4       153724  AAALPALIEBNONE  100.0  ...           2019-10   1.0    100.0
5       153724  AAALPALIEBNONE  100.0  ...           2020-01   1.0    100.0
7       153724  AAALPALIEBNONE  160.0  ...           2019-10   1.0    160.0
...        ...             ...    ...  ...               ...   ...      ...
153458  544134    ALPLIAPOP800  175.0  ...           2020-08   2.0    350.0
153459  544135    ALPCOLCHR800   20.5  ...           2020-08   1.0     20.5
153460  544135    ALPCOLCHR800   78.0  ...           2020-08   1.0     78.0
153461  544135    ALPCOLCHR800  140.0  ...           2020-08   1.0    140.0
153462  544135    ALPCOLCHR800  175.0  ...           2020-08   1.0    175.0

[51393 rows x 7 columns]

In [ ]:
versa_sales_568_abc = versa_sales_568.sort_values(by='revenue', ascending=False)

In [ ]:
n = len(versa_sales_568_abc)

In [ ]:
A, B, C = np.split(versa_sales_568_abc, [int(.2*n), int(.5*n)])

In [ ]:
A['revenue'].sum().astype(int)

7056980

In [ ]:
print(A, B, C)

            id      part_number  price  ...  transaction_date  delta  revenue
116001  385095     MAGMORGRYLRG  130.0  ...           2020-01  296.0  38480.0
115998  385095     MAGMORGRYLRG  105.6  ...           2020-01  296.0  31257.6
132037  477768  TRVCOTBRDWGR055   49.8  ...           2019-06  569.0  28336.2
116010  385096     MAGMORGRYMED   90.0  ...           2020-01  298.0  26820.0
116007  385096     MAGMORGRYMED   72.0  ...           2020-01  298.0  21456.0
...        ...              ...    ...  ...               ...    ...      ...
126980  469589     LINELILIM400  320.0  ...           2019-04    1.0    320.0
134504  487032     COTPERPOR500   64.0  ...           2019-08    5.0    320.0
147403  514087     LINELICHR400  320.0  ...           2020-03    1.0    320.0
127775  471061     LINSWEBLU400  160.0  ...           2019-04    2.0    320.0
31748   156588     LINLOUNAT465  320.0  ...           2020-03    1.0    320.0

[11895 rows x 7 columns]             id   part_number  price  ...  transaction_date delta  revenue
31744   156587  LINLOUNAT465  320.0  ...           2020-07   1.0    320.0
136922  491266  LINEMICHR460  320.0  ...           2019-11   1.0    320.0
135079  488046  LINELILIM400  320.0  ...           2020-03   1.0    320.0
136918  491265  LINEMICHR465  320.0  ...           2019-11   1.0    320.0
72536   171053  COTSLYKHI300  160.0  ...           2019-03   2.0    320.0
...        ...           ...    ...  ...               ...   ...      ...
33334   156780  LINSMNGRY500  135.0  ...           2020-01   1.0    135.0
94377   350852  LININSSND520  135.0  ...           2019-03   1.0    135.0
80142   204110  MAGMORGRYMED   45.0  ...           2020-01   3.0    135.0
94421   350853  LINSMNMID500  135.0  ...           2019-11   1.0    135.0
31028   156515  LININSWHT520  135.0  ...           2020-02   1.0    135.0

[17842 rows x 7 columns]             id   part_number  price  ...  transaction_date delta  revenue
135190  488229  COTMAYBLK300  135.0  ...           2019-09   1.0    135.0
33331   156780  LINSMNGRY500  135.0  ...           2019-02   1.0    135.0
33332   156780  LINSMNGRY500  135.0  ...           2019-08   1.0    135.0
77229   200262  LINEDTIND960  135.0  ...           2020-03   1.0    135.0
29615   156388  LINEMIMON500  135.0  ...           2020-07   1.0    135.0
...        ...           ...    ...  ...               ...   ...      ...
150211  518121  COTJULWHT700    0.0  ...           2020-06   1.0      0.0
113230  381987  LINSMNGRY700    0.0  ...           2020-08   1.0      0.0
145949  513238  COTJULWHT700    0.0  ...           2020-03   9.0      0.0
150212  518121  COTJULWHT700    0.0  ...           2020-07   3.0      0.0
146941  513916  COTJULWHT700    0.0  ...           2020-03   8.0      0.0

[29738 rows x 7 columns]

#High, Medium and Low velocity items
After, ABC analysis for your inventory, but sometimes you have some really important items that will fall into the C category. That means we have to address the classification from another angle.

In [ ]:
 versa_sales_568_hml= versa_sales_568.sort_values(by='delta', ascending=False)
versa_sales_568_hml

            id      part_number   price  ...  transaction_date  delta   revenue
132037  477768  TRVCOTBRDWGR055   49.80  ...           2019-06  569.0  28336.20
131492  476551     PLITRVFD1115    7.50  ...           2019-09  569.0   4267.50
132036  477768  TRVCOTBRDWGR055   12.67  ...           2019-06  569.0   7209.23
116004  385096     MAGMORGRYMED   45.00  ...           2020-01  298.0  13410.00
116010  385096     MAGMORGRYMED   90.00  ...           2020-01  298.0  26820.00
...        ...              ...     ...  ...               ...    ...       ...
128669  471680     COTPERPOR340  116.00  ...           2019-05    1.0    116.00
98161   352607     COTPERSLT340  116.00  ...           2020-04    1.0    116.00
98162   352607     COTPERSLT340  116.00  ...           2020-06    1.0    116.00
128670  471680     COTPERPOR340  116.00  ...           2019-06    1.0    116.00
132701  479606     LINJULAMB500  135.00  ...           2019-09    1.0    135.00

[59475 rows x 7 columns]

In [ ]:
n = len(versa_sales_568_hml)

In [ ]:
sum = versa_sales_568_hml.delta.sum()

In [ ]:
sum

137333.0

In [ ]:
high, medium, low = np.split(versa_sales_568_hml, [int(.2*n), int(.5*n)])

In [ ]:
print(high, medium, low)

            id      part_number  price  ...  transaction_date  delta   revenue
132037  477768  TRVCOTBRDWGR055  49.80  ...           2019-06  569.0  28336.20
131492  476551     PLITRVFD1115   7.50  ...           2019-09  569.0   4267.50
132036  477768  TRVCOTBRDWGR055  12.67  ...           2019-06  569.0   7209.23
116004  385096     MAGMORGRYMED  45.00  ...           2020-01  298.0  13410.00
116010  385096     MAGMORGRYMED  90.00  ...           2020-01  298.0  26820.00
...        ...              ...    ...  ...               ...    ...       ...
142326  502595     COTPERHON360  18.99  ...           2020-01    3.0     56.97
107892  374916     COTPERSTN360  18.99  ...           2020-03    3.0     56.97
59819   166658     ALPLIASPI800  78.00  ...           2020-03    3.0    234.00
98133   352607     COTPERSLT340  18.99  ...           2019-09    3.0     56.97
126093  468731     COTPERCEL360  18.99  ...           2019-12    3.0     56.97

[11895 rows x 7 columns]             id      part_number  price  ...  transaction_date delta  revenue
66222   169324     COTPERCEL360  18.99  ...           2019-05   3.0    56.97
126097  468731     COTPERCEL360  18.99  ...           2020-05   3.0    56.97
135922  490041     ALPLIABLU800  78.00  ...           2019-12   3.0   234.00
107889  374916     COTPERSTN360  18.99  ...           2019-12   3.0    56.97
71617   170837     ALPLIAPOP800  78.00  ...           2019-05   3.0   234.00
...        ...              ...    ...  ...               ...   ...      ...
132414  478439     COTPERWHT440  75.00  ...           2019-07   1.0    75.00
144274  507374  AALINMIACHRLMED  75.00  ...           2020-07   1.0    75.00
101090  355091     COTHETCOA465  75.00  ...           2019-03   1.0    75.00
133380  482175     LINLOUBLU300  75.00  ...           2020-01   1.0    75.00
139377  496790     COTLINORA440  75.00  ...           2019-11   1.0    75.00

[17842 rows x 7 columns]             id   part_number  price  ...  transaction_date delta  revenue
86027   303099  BLNELIPEP260   75.0  ...           2019-03   1.0     75.0
140521  497445  COTPERWHT440   75.0  ...           2019-11   1.0     75.0
134620  487059  COTPARBLU460   75.0  ...           2020-01   1.0     75.0
138952  495015  COTPERPOR440   75.0  ...           2020-01   1.0     75.0
134622  487059  COTPARBLU460   75.0  ...           2020-07   1.0     75.0
...        ...           ...    ...  ...               ...   ...      ...
128669  471680  COTPERPOR340  116.0  ...           2019-05   1.0    116.0
98161   352607  COTPERSLT340  116.0  ...           2020-04   1.0    116.0
98162   352607  COTPERSLT340  116.0  ...           2020-06   1.0    116.0
128670  471680  COTPERPOR340  116.0  ...           2019-06   1.0    116.0
132701  479606  LINJULAMB500  135.0  ...           2019-09   1.0    135.0

[29738 rows x 7 columns]

In [ ]:
ha = pd.merge(high, A, how='inner')
hb = pd.merge(high, B, how='inner')
hc = pd.merge(high, C, how='inner')
ma = pd.merge(medium, A, how='inner')
mb = pd.merge(medium, B, how='inner')
mc = pd.merge(medium, C, how='inner')
la = pd.merge(low, A, how='inner')
lb = pd.merge(low, B, how='inner')
lc = pd.merge(low, C, how='inner')

In [ ]:
print(ha,hb,hc,ma,mb,mc,la,lb,lc)

          id      part_number   price  ...  transaction_date  delta   revenue
0     477768  TRVCOTBRDWGR055   49.80  ...           2019-06  569.0  28336.20
1     476551     PLITRVFD1115    7.50  ...           2019-09  569.0   4267.50
2     477768  TRVCOTBRDWGR055   12.67  ...           2019-06  569.0   7209.23
3     385096     MAGMORGRYMED   45.00  ...           2020-01  298.0  13410.00
4     385096     MAGMORGRYMED   90.00  ...           2020-01  298.0  26820.00
...      ...              ...     ...  ...               ...    ...       ...
6408  383345     COTJWLGRY345  148.00  ...           2019-05    3.0    444.00
6409  515689     LINVIVMIN500  135.00  ...           2020-03    3.0    405.00
6410  513257     LINCAMPNK500  135.00  ...           2020-03    3.0    405.00
6411  182360     LINEMIMIN520  135.00  ...           2020-03    3.0    405.00
6412  155246     COTMAYBLK300  135.00  ...           2019-03    3.0    405.00

[6413 rows x 7 columns]           id   part_number  price  currency_id transaction_date  delta  revenue
0     425526  COTJULWHT500   6.87            2          2019-03   36.0   247.32
1     155712  COTSKYGRY500   8.70            2          2019-03   34.0   295.80
2     169309  COTOVLBLU750   8.92            2          2020-03   34.0   303.28
3     425579  COTPARBLU520   9.50            2          2019-03   33.0   313.50
4     491255  ORGAIRWHT650   8.88            2          2019-11   32.0   284.16
...      ...           ...    ...          ...              ...    ...      ...
3068  507693  LINCAMPNK500  60.00            2          2020-03    3.0   180.00
3069  505994  COTPERPOR500  80.00            2          2020-02    3.0   240.00
3070  475183  ORGANTKHI500  56.00            2          2019-05    3.0   168.00
3071  158418  COTPINGRY500  56.00            2          2019-10    3.0   168.00
3072  166658  ALPLIASPI800  78.00            2          2020-03    3.0   234.00

[3073 rows x 7 columns]           id   part_number  price  currency_id transaction_date  delta  revenue
0     507254  COTJULWHT700   0.00            2          2020-03   29.0     0.00
1     156714  LINPBLGRY850   5.50            3          2019-06   22.0   121.00
2     426010  COTRAYGRY550   6.10            2          2019-03   20.0   122.00
3     426016  COTDIAGRY550   6.10            2          2019-03   20.0   122.00
4     426079  COTRAYGFT550   6.10            2          2019-11   19.0   115.90
...      ...           ...    ...          ...              ...    ...      ...
2404  493207  COTPERPLN340  18.99            2          2019-10    3.0    56.97
2405  502595  COTPERHON360  18.99            2          2020-01    3.0    56.97
2406  374916  COTPERSTN360  18.99            2          2020-03    3.0    56.97
2407  352607  COTPERSLT340  18.99            2          2019-09    3.0    56.97
2408  468731  COTPERCEL360  18.99            2          2019-12    3.0    56.97

[2409 rows x 7 columns]           id            part_number  price  ...  transaction_date delta  revenue
0     160744  LINMILGRY801-DoNotUse  135.0  ...           2020-01   3.0    405.0
1     155246           COTMAYBLK300  135.0  ...           2019-08   3.0    405.0
2     161360         AALIN101WHTSML  135.0  ...           2020-01   3.0    405.0
3     428055           COTHETCMT160  135.0  ...           2019-04   3.0    405.0
4     513300           LINVIVPOW500  135.0  ...           2020-03   3.0    405.0
...      ...                    ...    ...  ...               ...   ...      ...
3743  378787           ALPLIEAMD090  345.0  ...           2019-05   1.0    345.0
3744  506551           ALPLIEFIG090  345.0  ...           2020-03   1.0    345.0
3745  476229           ALPLIEFIG090  345.0  ...           2019-06   1.0    345.0
3746  491518           ALPLIESUG090  345.0  ...           2020-03   1.0    345.0
3747  166645           ALPLIEBLU090  345.0  ...           2019-08   1.0    345.0

[3748 rows x 7 columns]           id   part_number  price  currency_id transaction_date  delta  revenue
0     490041  ALPLIABLU800   78.0            2          2019-12    3.0    234.0
1     170837  ALPLIAPOP800   78.0            2          2019-05    3.0    234.0
2     158418  COTPINGRY500   56.0            2          2019-09    3.0    168.0
3     156053  LINDSYORG800   80.0            2          2019-02    3.0    240.0
4     156613  LINMARGRY460   55.5            3          2019-03    3.0    166.5
...      ...           ...    ...          ...              ...    ...      ...
4786  505972  COTPERHON360  145.0            2          2020-01    2.0    290.0
4787  154857  COTHETCOA260  140.0            2          2019-12    2.0    280.0
4788  490037  ALPLIASGR800  140.0            2          2019-12    2.0    280.0
4789  515527  COTPERPOW260  140.0            2          2020-07    2.0    280.0
4790  468995  ALPLIAFIG800  140.0            2          2019-04    2.0    280.0

[4791 rows x 7 columns]           id      part_number  price  ...  transaction_date delta  revenue
0     169324     COTPERCEL360  18.99  ...           2019-05   3.0    56.97
1     468731     COTPERCEL360  18.99  ...           2020-05   3.0    56.97
2     374916     COTPERSTN360  18.99  ...           2019-12   3.0    56.97
3     515488     COTPERHON360  18.99  ...           2020-03   3.0    56.97
4     471648     COTPERPOR360  18.68  ...           2019-05   3.0    56.04
...      ...              ...    ...  ...               ...   ...      ...
9298  478439     COTPERWHT440  75.00  ...           2019-07   1.0    75.00
9299  507374  AALINMIACHRLMED  75.00  ...           2020-07   1.0    75.00
9300  355091     COTHETCOA465  75.00  ...           2019-03   1.0    75.00
9301  482175     LINLOUBLU300  75.00  ...           2020-01   1.0    75.00
9302  496790     COTLINORA440  75.00  ...           2019-11   1.0    75.00

[9303 rows x 7 columns]           id   part_number  price  currency_id transaction_date  delta  revenue
0     421303  LINIRSIVO400  355.0            2          2020-03    1.0    355.0
1     381999  LININSWHT300  360.0            2          2019-08    1.0    360.0
2     352518  LINJULCIT300  360.0            2          2020-01    1.0    360.0
3     468320  LINLOUNAT300  360.0            2          2020-03    1.0    360.0
4     350999  LINLOUBLU300  360.0            2          2019-11    1.0    360.0
...      ...           ...    ...          ...              ...    ...      ...
1729  351904  LINLOUBLU440  320.0            2          2020-03    1.0    320.0
1730  350912  LINEMIMIN460  320.0            2          2019-06    1.0    320.0
1731  330417  LINSMNNAT440  320.0            2          2019-04    1.0    320.0
1732  330418  LINSMNNAT460  320.0            2          2019-02    1.0    320.0
1733  330418  LINSMNNAT460  320.0            2          2019-12    1.0    320.0

[1734 rows x 7 columns]           id     part_number  price  ...  transaction_date delta  revenue
0     476159  AALINANJBLKSML  210.0  ...           2020-06   1.0    210.0
1     493297    COTTHEBLU300  255.0  ...           2020-07   1.0    255.0
2     421924    ALPLIESPI090  150.0  ...           2019-07   1.0    150.0
3     497952    COTKLEGRY300  150.0  ...           2019-11   1.0    150.0
4     480085    COTKLEGRY300  150.0  ...           2019-08   1.0    150.0
...      ...             ...    ...  ...               ...   ...      ...
9973  468704    LINELIPWD300  280.0  ...           2020-01   1.0    280.0
9974  499554    LINELIMIN300  280.0  ...           2020-03   1.0    280.0
9975  514173    LINELICHR300  280.0  ...           2020-05   1.0    280.0
9976  469632    LINELICMT300  280.0  ...           2020-03   1.0    280.0
9977  479606    LINJULAMB500  135.0  ...           2019-09   1.0    135.0

[9978 rows x 7 columns]            id   part_number  price  ...  transaction_date delta  revenue
0      303099  BLNELIPEP260   75.0  ...           2019-03   1.0     75.0
1      497445  COTPERWHT440   75.0  ...           2019-11   1.0     75.0
2      487059  COTPARBLU460   75.0  ...           2020-01   1.0     75.0
3      495015  COTPERPOR440   75.0  ...           2020-01   1.0     75.0
4      487059  COTPARBLU460   75.0  ...           2020-07   1.0     75.0
...       ...           ...    ...  ...               ...   ...      ...
18021  156616  LINMARGRY520  116.0  ...           2019-04   1.0    116.0
18022  471680  COTPERPOR340  116.0  ...           2019-05   1.0    116.0
18023  352607  COTPERSLT340  116.0  ...           2020-04   1.0    116.0
18024  352607  COTPERSLT340  116.0  ...           2020-06   1.0    116.0
18025  471680  COTPERPOR340  116.0  ...           2019-06   1.0    116.0

[18026 rows x 7 columns]

#Widgets

In [ ]:
widget = versa_sales[(versa_sales["firm_id"]==568)]

In [ ]:
widget = widget.groupby(['id', 'part_number', 'price'], as_index=False).sum()

In [ ]:
widget = widget.drop(['currency_id'], axis=1)

In [ ]:
widget.delta.describe()

count    89464.000000
mean         0.364549
std          3.055714
min        -13.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        268.000000
Name: delta, dtype: float64

In [ ]:
widget.sort_values(by='delta', ascending=False)

#Data Purity

# New Section

In [ ]:
# price negative or zero
zero_price = versa_sales[(versa_sales['price']==0) | (versa_sales['price'] <0)]

                                                     name  ...       currencies_name
228                                            ER1000P BR  ...  United States dollar
229                                             ER325P BG  ...  United States dollar
233                                             ER525P BR  ...  United States dollar
249                                            SKSQ55P BR  ...  United States dollar
2275     Tube-25ml Aqua,Decorated-Gentle Cleanser(KGCS25)  ...     Australian dollar
...                                                   ...  ...                   ...
1795578                                               NaN  ...         European Euro
1795714              Sample A.D. Laws Secale Straight Rye  ...  United States dollar
1795758                                               NaN  ...  United States dollar
1795960                                               NaN  ...  United States dollar
1796078                                               NaN  ...  United States dollar

[33089 rows x 9 columns]